.pet-lista-bg {
    padding: 30px 0;
    margin: 60px 0;
    background: linear-gradient(to left, #f7f7f7 70%, #FBFBFB 0%);
}

.petlista-item+.petlista-item {
    margin-top: 50px;
}

.petlista-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.petlist-img img {
    width: 90%;
    margin: auto;
    border-radius: 4px;
    box-shadow: 5px 5px 0 #DDD;
}

.petlist-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    place-self: flex-start;
}

.petlist-conteudo h2 {
    font-size: 2.5rem;
    grid-column: 1/-1;
    margin-bottom: 15px;
}

.petlist-conteudo h2::before {
    content: "";
    display: block;
    width: 15px;
    height: 8px;
    background: gold;
    margin-left: 1px;
}

.petlist-conteudo p {
    font-size: 1rem;
    color: #777;
    grid-column: 1/-1;
    margin-bottom: 15px;
}

.petlist-conteudo a {
    place-self: end;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 16px;
    background: gold;
    border-radius: 4px;
    color: #000;
    max-width: max-content;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: all .3s linear;
}

.petlist-conteudo a:hover {
    border: 1px solid gold;
    background: transparent;
}

.petlist-conteudo a::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../img/arrowdark.svg");
    margin-left: 8px;
    transition: all .3s linear;
}

.petlist-conteudo a:hover::after {
    transform: translateX(5px);
}

.petlist-conteudo ul {
    margin-top: 20px;
}

.petlist-conteudo li {
    padding: 5px 0;
    color: #777;
}

@media (max-width:800px) {
    .petlista-item {
        grid-template-columns: 1fr;
    }
    .petlist-img img {
        width: 90%;
        margin: auto;
    }
    .petlist-conteudo h2 {
        font-size: 1.8rem;
    }
    .petlist-conteudo p {
        font-size: 0.8rem;
    }
    .petlist-conteudo li {
        font-size: 0.9rem;
    }
    .petlist-conteudo {
        grid-template-columns: 1fr;
    }
    .petlist-conteudo a {
        place-self: flex-start;
        margin-top: 20px;
    }
    .pet-lista-bg {
        padding: 30px 0;
        margin: 60px 0;
        background: #FFFFFF;
    }
}