@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    letter-spacing: 0;
    line-height: 1.3em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --bg-primaria: #fe8265;
    --bg-secundaria: #FAF7F2;
    --bg-teceiro: gold;
    --color-texto-primary: #171717
}
.gold{
    color: var(--bg-teceiro) !important;
}

html,
body {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    height: 1500px;
    background: #FBFBFB;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.border {
    border: 1px solid red;
}

.btn-primario {
    background: var(--bg-primaria);
    color: #FFF !important;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    color: var(--color-texto-primary);
    margin-right: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-secundario {
    border: 1px solid var(--bg-primaria);
}

::selection {
    background-color: var(--bg-primaria);
}

@media (max-width:400px) {
    html,
    body {
        font-size: 80%;
    }
}