.termos-bg{
background: var(--bg-primaria);
}
.termos h2{
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.termos h2:first-child{
    margin-top: 50px;
} 
.termos p{
    max-width: 100ch;
    font-weight: 300;
    margin-bottom: 20px;
    color: #777;
}